{% extends "attendees/purchase_base.html" %}
{% load i18n %}
{% block content %}
{{ block.super }}
<noscript>
    <p class="alert alert-error">{% trans "You have to have JavaScript enabled to pay via credit card."%}</p>
</noscript>
<form id="payment-form" data-mode="{{ purchase.payment_method }}" class="form-horizontal" action="#" method="POST">
    {% if error %}
    <p class="alert alert-error">{{ error }}</p>
    {% endif %}

    <input class="card-amount-int" type="hidden" value="{{ amount_in_cent }}" />
    <input class="card-currency" type="hidden" value="EUR" />

    <div class="control-group">
        <label for="cc-number" class="control-label">{% if purchase.payment_method == 'creditcard' %}{% trans "Card number" %}{% else %}{% trans "Account number" %}{% endif %}</label>
        <div class="controls">
            <input id="cc-number" class="card-number" type="text" size="20" />
        </div>
    </div>

    {% if purchase.payment_method == 'creditcard' %}
    <div class="control-group">
        <label for="cc-cvc" class="control-label">{% trans "CVC" %}</label>
        <div class="controls">
            <input id="cc-cvc" class="card-cvc" type="text" size="4" />
        </div>
    </div>
    {% endif %}

    {% if purchase.payment_method == 'elv' %}
    <div class="control-group">
        <label for="bank" class="control-label">{% trans "Bank (BLZ)" %}</label>
        <div class="controls">
            <input id="bank" class="bank" type="text" size="4" />
        </div>
    </div>
    {% endif %}

    <div class="control-group">
        <label for="cc-name" class="control-label">{% trans "Name" %}</label>
        <div class="controls">
            <input id="cc-name" class="card-holdername" type="text" size="4" />
        </div>
    </div>

    {% if purchase.payment_method == 'creditcard' %}
    <div class="control-group">
        <label for="cc-exp-month" class="control-label">{% trans "Expiration date" %}</label>
        <div class="controls controls-row">
            <select id="cc-exp-month" class="card-exp-month input-small">
                <option>{% trans "Month" %}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select id="cc-exp-year" class="card-exp-year input-small">
                <option>{% trans "Year" %}</option>
                {% for year in exp_years %}
                <option value="{{ year}}">{{ year}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}

    <div class="control-group">
        <div class="controls">
            <button class="btn-primary" type="submit">{% trans "Pay &amp; Complete purchase" %}</button>
            <a class="back" href="{% url attendees_purchase_confirm %}">{% trans "Back" %}</a>
        </div>
    </div>

</form>
<form id="backend-form" method="POST">{% csrf_token %}</form>
{% endblock content %}
{% block extra_foot %}
<script type="text/javascript">
var PAYMILL_PUBLIC_KEY = '{{ public_key }}';
</script>
<script type="text/javascript" src="https://bridge.paymill.de/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/paymill.js"></script>
{% endblock extra_foot %}