{% extends "attendees/purchase_base.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_head %}
    <style type="text/css">
        table { margin-bottom: 20px; }
        table tr { border-bottom: 1px solid #ccc; }
        table tr:last-child { border-bottom: 4px double #ccc; font-weight: bold; }
        table tr:last-child td:first-child { border-right: 0; }
        table td, table th { text-align: left; padding: 5px; }
        table td { border-right: 1px solid #ccc; }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p>Bitte kontrollieren Sie Ihre Rechnungsadresse sowie die 
    Bestellung der Tickets auf der nachfolgenden Übersicht.
    Neben den Gesamtkosten ist auch die Zuordnung der Tickets zu den Personen, die 
    diese dann in Anspruch nehmen werden, ersichtlich.
    <br />
    <br />
    Sollten die Angaben nicht korrekt sein, so beginnen Sie den Bestellvorgang 
    bitte <a href="/tickets/">von vorn</a>.
    </p>
    <h2>Bestellungsübersicht</h2>
    <table>
        <thead>
            <th>Ticket</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Preis</th>
        </thead>
        {% for ticket in purchase.ticket_set.all %}
        <tr>
            <td>{{ ticket.ticket_type.name }}</td>
            <td>{{ ticket.first_name }}</td>
            <td>{{ ticket.last_name }}</td>
            <td>{{ ticket.ticket_type.fee|floatformat:2 }} EUR</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align:right">Gesamt:</td>
            <td>{{ purchase.payment_total|floatformat:2 }} EUR</td>
        </tr>
    </table>
    <p>Alle Preise sind <b>Bruttopreise</b>, also inklusive der gesetzlichen Mehrwertsteuer von 19%. 
    Sie erhalten selbstverständlich eine Rechnung mit ausgewiesener Mehrwertsteuer.</p>
    <h2>Rechnungsadresse</h2>
    <p>
    {% filter linebreaksbr %}{{ purchase.company_name }}
        {{ purchase.first_name }} {{ purchase.last_name }}
        {{ purchase.street }}
        {{ purchase.zip_code }} {{ purchase.city }}
        {{ purchase.country }}
    {% endfilter %}
    </p>
    <p>Wenn alle Angaben korrekt sind, wählen Sie bitte nachfolgend die gewünschte Zahlungsart
    und klicken Sie dann auf "Bestellung abschließen", um die Daten zu speichern.
    Sie erhalten am Ende des Bestellvorgangs eine Bestellbestätigung per E-Mail.</p>

    <form class="form-horizontal" method="post">
        <h2>Zahlungsart</h2>
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock %}
