{% extends "site_structure.html" %}
{% load sekizai_tags cms_tags menu_tags compress event_tags sponsorship_tags %}

{% block site_title %}{% block title %}Willkommen{% endblock %} - PyCon DE 2013 - 3. Deutsche Python-Konferenz{% endblock %}

{% block site_meta %}
  <meta name="author" content="Python Software Verband e.V.">
  <meta name="keywords" content="{% block meta_keywords %}Python, Pycon, Python Konferenz, Konferenz{% endblock %}">
  <meta name="description" content="{% block meta_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 14.10. bis 19.10.2013 in Köln statt.{% endblock %}">
  <meta property="og:title" content="{% block og_title %}{% endblock %}PyCon DE 2013 - 3. Deutsche Python-Konferenz" />
  <meta property="og:site_name" content="PyCon DE 2013" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}" />
  <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}images/logo-small.png" />
  <meta property="og:description" content="{% block og_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 14.10. bis 19.10.2013 in Köln statt.{% endblock %}" />
  <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="PyCon DE 2013-News" />
{% endblock %}

{% block site_content %}
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container bar">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">PyCon.DE 2013</a>
         <div class="nav-collapse collapse" id="mainmenu">
           <ul class="nav">{% show_menu 0 100 0 0 "mainmenu.html" %}</ul>
           <form method="GET" id="search" action="/search/" class="visible-desktop navbar-search pull-right">
             <input type="search" name="q" class="search-query" placeholder="Suchen..." />
           </form>
         </div>
      </div>
      <div id="dropout-menu" class="container hidden-phone">
        <div class="row">
          <div class="span3">
            <div class="user-menu">
              <ul>
                <li>Mein Konto
                  <ul>
                    {% block user_menu %}
                      {% if user.is_authenticated %}
                        {% show_menu_below_id "proposals" %}
                        <li><a href="{% url userprofiles_profile_change %}">Mein Konto</a></li>
                        <li><a href="{% url auth_logout %}?next={{ request.path }}">Abmelden</a></li>
                      {% else %}
                        <li><a href="{% url auth_login %}?next={{ request.path }}">Anmelden</a></li>
                        <li><a href="{% url userprofiles_registration %}">Konto anlegen</a></li>
                    {% endif %}
                  {% endblock %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="span9">
            <ul>
              {% show_menu 0 1 2 100 %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-wrapper">
    {% block page %}
    <div class="row postcard">
      <h1><span>Zukunft.Dynamisch.Entwickeln.</span></h1>
      <h2 class="highlight"><span>3. Deutsche Python-Konferenz</span></h2>
      <h2 class="highlight"><span>14. - 19. Oktober 2013, Köln</span></h2>
    </div>

    <div id="page">
      <div class="row">
        <div class="span6 logo-spacer" id="content">
          {% block content_banner %}{% endblock %}
          {% block content_title %}
          <h1>{% block page_title %}{% if request.current_page %}{% page_attribute "page_title" %}{% endif %}{% endblock %}</h1>
          {% endblock %}
          <div id="content-main">
            <div class="visible-phone">
              <ul class="nav nav-pills">{% show_menu 1 100 0 0 "mainmenu.html" %}</ul>
            </div>
            <div id="messages">
                {% for message in messages %}
                  <div id="message_{{ forloop.counter }}"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    {{ message }}
                  </div>
                {% endfor %}
                {% block top_notices %}
                {% endblock %}
            </div>
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="span3 logo-spacer">
          {% block sidebar_wrapper %}
            {% if request.current_page %}
              <div>
                <strong>Weitere Themen:</strong>
                <ul class="nav">
                  {% if request.current_page.menu_level == 0 %}
                    {% show_sub_menu %}
                  {% else %}
                    {% show_menu request.current_page.level %}
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          {% block sidebar %}{% endblock %}
          {% endblock %}
        </div>
        <div class="span2">
          <a class="halo logo" href="/"><img src="{{ STATIC_URL }}images/logo-small.png" title="PyCon.DE 2013" /></a>
        </div>
      </div>
    </div>
    {% endblock %}
    <footer class="row hidden-phone">
      <div class="box span6">
        <h2>Kontakt</h2>
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/of8RAgSle2hkbFF9IgHKrw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
        <p><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#1d8c2e" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="203064">Hilfe und Support</a></p>
        <p><a href="/impressum/">Impressum</a></p>
        <p>&copy; 2013 PyCon DE</p>
      </div>
      <div class="box span3">
        <h2>Folgen Sie uns auch auf</h2>
        <ul class="social-links">
          <li><a class="twitter" href="http://twitter.com/pyconde">Twitter</a></li>
          <li><a class="facebook" href="http://www.facebook.com/events/461037940614411">Facebook</a></li>
          <li><a class="googleplus" href="https://plus.google.com/104910504479539795838">Google+</a></li>
          <li><a class="youtube" href="http://www.youtube.com/user/PyConDE">YouTube</a></li>
          <li><a class="lanyrd" href="http://lanyrd.com/2013/pyconde/">Lanyrd</a></li>
        </ul>
      </div>
      <div class="box span2"></div>
    </footer>
  </div>

{% endblock %}
